
//loop over $$table$$
for (int $$index$$ = 0; $$index$$ < $$table$$.size(); ++$$index$$) {
    if (!($$clause$$)) {
        continue;
    }
    if ($$hash$$.find($$table$$[$$index$$][$$column$$]) == $$hash$$.end()) {
        continue;
    }
    vector<vector<int> > $$new_table$$ = $$hash$$[$$table$$[$$index$$][$$column$$]];


