
//hash $$relation$$
map<int, vector<$$tuple$$> > $$hashname$$;
for (int i = 0; i < $$relation$$.size(); i++) {
	if ($$hashname$$.find($$relation$$[i].a$$column$$) == $$hashname$$.end()) {
		$$hashname$$[$$relation$$[i].a$$column$$] = vector<$$tuple$$> ();
	}
	$$hashname$$[$$relation$$[i].a$$column$$].push_back($$relation$$[i]);
}



